<%- include('layout') %>
    <%- include('header') %>
        <%- include('banner',{pageModel: pageModel}) %>
        <div class="about-container common-wrap clearfix">
            <div class="avator-box fs-0">
                <image class="avator-img" src="/image/avatar.JPG" alt="头像"/>
            </div>
            <div class="avator-info-box">
                <div class="txtNew">
                    <h5 class="fontStyle-5"  style="line-height: 2em;">Hi，I'm Keraun ！</h5>
                    <p class="fontStyle-2 pt-10 " style="line-height: 1.6em;">
                        温岭人在杭州，自号老军医。毕业于杭州电子科技大学，专注于前端开发，但不仅限于此。
                        同时是一个可以在逗逼和高冷瞬间切换的人，信奉生命在于折腾，喜欢敲些代码，写博客&摄影。希望通过这个博客能结识更多志同道合的人。
                    </p>
                </div>
                <div></div>
            </div>
        </div>
        <%- include('footer') %>
        <%- include('layout-end') %>
