<%- include('layout') %>
    <%- include('header') %>
        <%- include('banner') %>
            <div class="blog-container common-wrap clearfix">
                <%- include('postNav') %>
                    <div class="post-list-wrap">
                        <div class="post-list" id="post-list">

                        </div>
                        <div class="blog-page-opt clearfix">

                        </div>
                    </div>
            </div>
            <%- include('footer') %>
                <script src="/js/blog.js?random=?random=<%= +new Date() %>" type="text/javascript" charset="utf-8"></script>
                <%- include('layout-end') %>
